@model Post
@using Blog.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (Model.Image.Any(f => f.FileType == FileType.Picture))
        {
            <dt>
                Picture
            </dt>
            <dd>
                <img src="~/File?id=@Model.Image.First(f => f.FileType == FileType.Picture).FileId" alt="post picture"/>
            </dd>
        }
        <dt>
            test
        </dt>
        <dd>
            <img src="http://img.imageresizing.net/s3/resizer-web/sampleimages/tutorials2.png?w=100&h=100&mode=max" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
