@using Microsoft.AspNet.Identity
@model Post
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (Model.Files.Any(f => f.FileType == FileType.Image))
        {
            <dt>
                Image
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Image).FileId" alt="image" width="450" height="450" />
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        @if (ViewBag.Tags.Count > 0)
        {

            <dt>
                @Html.DisplayNameFor(model => model.PostTags)
            </dt>

            <dd>
                <button class="btn btn-primary btn-xs" id="hider" style="display: none" type="button" data-toggle="collapse" data-target="#tagsDiv">Show Tags</button>
                <div class="collapse" id="tagsDiv">
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <span class="tag label label-info">@tag</span>
                    }
                </div>
            </dd>

        }
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrators") || User.Identity.GetUserId() == Model.AuthorId)
    {
        @Html.ActionLink("Edit" , "Edit" , new {id = Model.Id}) @:|
        if (User.IsInRole("Administrators"))
        {
            @Html.ActionLink("Delete", "Delete", new { Model.Id }) @:|
            @Html.ActionLink("Back to List", "Index") @:|
        }
    }
    @Html.ActionLink("Back to Home", "Index", "Home")

</p>



@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    // Tags view
    // Depending on the tags count displays diffenret view
    // > 5 tags displays plainly. 5 > collapsable through a button
    $(document)
        .ready(function () {
            function tagView() {
                var count = $("#tagsDiv").children().length;;
                var button = $("#hider");
                if (count > 5)
                    button.attr("style", "display: inline");
                else
                    $("#tagsDiv").toggleClass("collapse");
            }
            tagView();
        });
</script>